<div>
  <div class="max-w-screen-xl xl:w-1/3 lg:w-1/2 md:w-2/3 sm:w-1 rounded flex flex-col mb-4">
    <div class="px-6 py-4 self-center">
      Matchday No 1
    </div>

    <ul>
      <li *ngFor="let match of (matchday$ | async)?.matches; let index" class="items-center" [ngClass]="{'bg-gray-300': index%2===0 }">
        <div class="flex flex-row rounded overflow-hidden shadow-lg rounded h-10 py-3 match">
          <div class="px-2 flex-1 text-right">{{match.home}}</div>
          <div class="px-2 w-1/12" *ngIf="(matchday$ | async)?.done">{{match.goalsHome + ':' + match.goalsGuest}}</div>
          <div *ngIf="!(matchday$ | async)?.done" class="px-2 w-1/12"></div>
          <div class="px-2 flex-1">{{match.guest}}</div>
        </div>
      </li>
    </ul>

  </div>
</div>
